p {
   font-size: large; 
}

.parallax {

   background-image: url('https://images.unsplash.com/photo-1598008664139-16c7df40c9b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
   min-height: 500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

